<h1>Formatage et normalisation des données</h1>

<h3>Plan: </h3>
<ol>
    <li>Standardisation des noms de colones</li>
    <li>Formatage des unités</li>
    <li>Création de deux nouvelle colonne ["month", "year"] à partir de la colone Listing_date</li>
    <li>Export des résultats</li>
</ol>

In [14]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns  
import re

In [15]:
df = pd.read_csv('../data/data.csv',sep=';')

In [16]:
df.head()

,Bathrooms,Bedrooms,Erf Size,Floor Size,Garages,Listing Date,Listing Number,Pet Friendly,Price,Town,...,Secure Parking,Parking,No Pets Allowed,Furnished,Flatlet,Fibre Internet,Furnished (Optional),ADSL Internet,Satellite Internet,Fixed WiMax Internet
0,3.0,3.0,304 m²,326 m²,2.0,10 July 2020,108859219,1.0,6480000.0,"Tokai, Cape Town",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,3.0,NaN,140 m²,2.0,23 September 2020,109153971,1.0,6250000.0,"14 Graham Road, Sea Point, Cape Town",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.5,4.0,659 m²,300 m²,2.0,23 September 2020,109154367,NaN,13950000.0,"Camps Bay, Cape Town",...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,2.0,NaN,NaN,NaN,23 September 2020,109154455,NaN,1050000.0,"Ottery, Cape Town",...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,NaN,61 m²,NaN,23 July 2020,108907258,NaN,1265000.0,"Muizenberg, Cape Town",...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h2>1) Standardisation des noms de colones</h2>

In [17]:
df.columns.to_list()

['Bathrooms',
 'Bedrooms',
 'Erf Size',
 'Floor Size',
 'Garages',
 'Listing Date',
 'Listing Number',
 'Pet Friendly',
 'Price',
 'Town',
 'Type of Property',
 'Garden',
 'Pool',
 'Secure Parking',
 'Parking',
 'No Pets Allowed',
 'Furnished',
 'Flatlet',
 'Fibre Internet',
 'Furnished (Optional)',
 'ADSL Internet',
 'Satellite Internet',
 'Fixed WiMax Internet']

In [18]:
df.columns = [
                'Bathrooms', 
                'Bedrooms', 
                'Erf_size', 
                'Floor_size', 
                'Garages',
                'Listing_date', 
                'Listing_number', 
                'Pet_friendly', 
                'Price', 
                'Town',
                'Type_of_property', 
                'Garden', 
                'Pool', 
                'Secure_parking', 
                'Parking',
                'No_pets_allowed', 
                'Furnished', 
                'Flatlet', 
                'Fibre_internet',
                'Furnished_optional', 
                'ADSL_internet', 
                'Satellite_internet',
                'Fixed_wimax_internet', 
            ]

<h2>2) Formatage des unités</h2>

In [19]:
def change_surface_to_m_carree(x):
    if(pd.isna(x) == False):
        if re.findall(r'ha', x):
            x = x.replace('ha', '')
            x = float(x)
            x = x * 10000
        else:
            x = x.replace('m²', '')
            x = float(x)

    return x

In [20]:
df['Erf_size']      = df['Erf_size'].str.replace(' ', '')
df['Erf_size']      = df['Erf_size'].map(lambda x:change_surface_to_m_carree(x))

df['Floor_size']    = df['Floor_size'].str.replace(' ', '')
df['Floor_size']    = df['Floor_size'].map(lambda x:change_surface_to_m_carree(x))

<h2>3) Création de deux nouvelle colonne ["month", "year"] à partir de la colone Listing_date</h2>

In [21]:
df['Listing_date'] = pd.to_datetime(df['Listing_date'])
df["month"] = df['Listing_date'].map(lambda x: x.month)
df["year"] = df['Listing_date'].map(lambda x: x.year)

<h2>4) Export des résultats</h2>

In [22]:
df.to_csv("../data/data_v1.csv",sep=";",index=False)